.intro-banner:after, .intro-banner:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 15;
    background: linear-gradient(to right,rgba(250,250,250,.9) 20%, rgba(250,250,250,.8) 50% ,rgba(250,250,250,0.1) 80%,rgba(250,250,250,0) 100%);
    background-image: linear-gradient(to right, rgb(250, 250, 250) 20%, rgba(250, 250, 250, 0.95) 50%, rgba(250, 250, 250, 0.1) 80%, rgba(250, 250, 250, 0) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}