h1,h2,h3,h4,h5{
  font-weight: 700 !important;
}
.submenu_cust{background-color: white !important;}
.submenu_cust li a{    color: #707070 !important;}

.dashboard-nav ul li a:after{display: none !important;}
.submenu_cust li.active a{
    color:  var(--theme-color-1) !important;
}
.bg-light-danger{
    background-color: #fff5f8!important;

}

.me-5{
    margin: 5px !important;
}

.abl_cl{     
     background-color: #fffcf7;
    border: 1px solid  var(--theme-color-1) !important;;
    border-radius: 10px;
    padding: 25px;     
    margin-bottom: 30px;}

.abl_cl p {
    margin-bottom: 10px;
}

.right_sec_cl{padding-right: 15px;}

.d_f_cl{display: flex;}

.abl_cl h3{    font-weight: 700;
    font-size: 20px;
    margin-bottom: 3px;}

.switch_avb {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
  }
  
  .switch_avb input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider_avb {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider_avb:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider_avb {
    background-color:   var(--theme-color-1) !important;;
  }
  
  input:focus + .slider_avb {
    box-shadow: 0 0 1px var(--theme-color-1) !important;
  }
  
  input:checked + .slider_avb:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider_avb.round_avb {
    border-radius: 34px;
  }
  
  .slider_avb.round_avb:before {
    border-radius: 50%;
  }

.ms-4 {
    margin-left: 1rem !important;
}
.pb-3 {
  padding-bottom: 0.75rem !important;
}
.ps-4 {
  padding-left: 1rem !important;
}
.pd-4 {
  padding-bottom: 1rem !important;
}

.container_checkbox {
  display: block;
  position: relative;

  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 16px;}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark_lable {
  position: absolute;
  top: 20%;
  right: 16px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  z-index: 99;
  border-radius: 50%;
  text-align: center;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark_lable {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark_lable {
  background-color: var(--theme-color-1) !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark_lable:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark_lable:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark_lable:after {
  left: 12px;
  top: 7px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark_list{position: absolute;
    height: auto;
    width: auto;
    border-radius: 31px;
    border: 1px solid #cdcdcd;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.container_checkbox input:checked ~ .checkmark_list {
      background-color: var(--theme-color-0_04);
      border: 1px solid var(--theme-color-0_04);
}

.container_checkbox b {
  position: relative;
  z-index: 999;
  font-size: 14px;
  font-weight: 500;
}

.d-none{
  display: none;
}
.d-block{
  display: block;
}
.checkbox+.checkbox, .radio+.radio {
  margin-top: 10px !important;
}

#wchat{
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    }

    .wchat-wrapper-web .wchat{
width: 100% !important;    
top: 0; height: calc(100% - 0px) !important;}



.chatboxblink {
background: #353c48 !important;
}
.chatonline li.chatboxblink a {
color: #FFF;
}



.chatboxcontent {
height: auto !important;}

.wchat .chat-right-aside .chat-list {
padding-top: 0px !important;
}


.chatboxcontent {
}


.chatboxcontent {

background: #ffffff !important;
box-shadow: inherit !important;
}

#wchat, .wchat-wrapper {
height: 83vh;
overflow: hidden;
}
.wchat-message p {
  padding-bottom: 5px !important;
}

.wchat-message.html{
  background-color: transparent !important;
  color:#333 !important;
}
.chat_box_inner{}

.chat_box_inner .card-header {
border-top-left-radius: 18px;
border-top-right-radius: 18px;
}
.chat_box_inner .card{     border: 1px solid #e1e1e1c4;
border-radius: 20px;
box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0rem 16px 16px -16px rgb(0 0 0 / 10%);
background: #fff;}

.chat_box_inner .card-body {

}

.address_details {
padding: 6px 10px;
}

.address_details p {
font-size: 12px;
color: #777;
}

.wchat-message.html {
padding: 0 !important;
box-shadow: inherit !important;
}


.user_date_cl{padding: 11px;}
.user_date_cl p{     
  margin-bottom: 0;
  margin-bottom: 0;
 line-height: 16px;
 font-size: 12px;
 font-weight: 600;
}
.user_date_cl b{     
margin-bottom: 3px;
line-height: initial;
font-size: 13px;}

.chat_box_inner .card-header{    background-color: #33333326;
padding: 5px;}
.chat_box_inner .card-header{}
.chat_box_inner .card-header .s_ms{     display: inline-block;
background-color: white;
padding: 0px 10px;
border-radius: 25px;
font-size: 11px;
float: left;
margin: 6px 7px;
padding-bottom: 0 !important;}
.chat_box_inner .card-body{}
.address_details p i{}
.address_details .card-footer{}
.chat_box_inner .card-footer {
padding: 8px 11px;
border-top: 1px solid #e1e1e1;
text-align: left;
}
.chat_box_inner .card-footer a{    
  font-size: 11px;}

.agreement_section p{
  
}
.detail_cl p{
  font-weight: 600;
}
.card{
background-color: white;
}
.checkbox, .radio{
display: inline-block !important;}


/***agreement section**/

div#agreement_container {
  padding: 0;
  padding-left: 30px;
}

.warning_section{
  display: flex;   
  border-radius: 5px;
  align-items: center!important;
  padding: 10px  !important;
}
.warning_section.notification.error{
  border: 1px solid #de5959;
}
.warning_section.notification.error p{
  color:#de5959 !important ;
}
.warning_section i{font-size: 20px;}
.warning_section p{       
font-size: 14px !important;
line-height: 20px !important;
padding-bottom: 0 !important;
}
.notification.notice p{
  color: #3184ae !important;
}
.notification.success p{
  color: #5f9025 !important;
}


.alert_icon_d{    padding-right: 10px;}

.btn_section button{
  width: 100%;
  padding: 7px !important;
  font-size: 16px;
}
.activity_feed{      background-color: #fff;
position: relative;
border: 1px solid #e4e4e4;
box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
margin: 8px 0;
padding: 12px 8px;
height: 40vh;
overflow-y: auto;}
.activity_feed h5{    font-size: 14px;
margin-top: 0;}

.activity_feed small{    color: #777;
display: inline-block;
width: 100%;
text-align: right;
font-size: 11px;}
.activity_feed hr{    margin: 5px;
margin-bottom: 10px;}

.first_group_wrpa strong{ 
    font-size: 12px;
    display: inherit;
    margin-bottom: 5px;
    line-height: 16px;}

.ready_to_book{margin: 15px 0;}
.agreement_content_area h5{  
  font-size: 14px;
  margin-top: 0;
}
.agreement_content_area p{font-size: 14px;
color: #777;
padding-bottom: 0px;
line-height: 20px;
}
.agreement_content_area p a{font-size: 12px;}
div#agreement_container a
{
font-size: 14px ;
text-decoration: underline !important;
color:  var(--theme-color-1);
}
.a_tag_btn a i{    
  float: right;
  position: relative;
  top: 4px;
}

.decline_agreement{    background-color: transparent !important;
border: 2px solid #afafaf !important;
color: #5f5a5a !important;
margin-bottom: 10px;}
.accept_agreement{    width: 100%;
margin-bottom: 10px;}
.details_not_crct{    width: 100%;
margin-bottom: 10px;}

.cust_inpt_cl input{    height: 48px !important;
padding-left: 65px;}

.reapeat_div .row{margin: 0 !important;}

.no_gutters_cl .col-lg-4{    padding-left: 0;
margin-top: 12px;}

.m_re_c{position: relative;
top: 7px;}

.net_rate_cl i{    font-weight: 600;}
.net_rate_cl strong{color:  var(--theme-color-1) !important;}

.del_btn_cl {
text-align: right;
}
.del_btn_cl button{ 
  background-color: transparent;
  color: #b41616;}
.add_btn_cl{   
  margin-bottom: 24px;
}
.agreed_services_cl h5{ 
  font-size: 14px;
  margin-top: 0;}
.agreed_services_cl p{
  font-size: 14px;
  color: #777;
  padding-bottom: 0px;
  line-height: 20px;}
.last_sec_check{
  margin-bottom: 30px;
}
.last_sec_check label{    
  padding-left: 28px;
}
.two_btn_wrap{
  display: flex;
}
.two_btn_wrap > div{margin-left: 15px;}
.required{
  color: red !important;
}
.error{
  color: #de5959 !important;
  font-weight: 400 !important;
}

.wrap_accept_model {
  padding: 18px;
}

.wrap_accept_model .warning_section {
  padding: 12px;
  border-radius: 6px;
margin-bottom: 3px;
}

div#accept-agreement-popup {
  max-width: 400px;
}

.wrap_accept_model small{font-size: 14px;
  display: inline-block;
  font-weight: 600;
}


.accept_btn_click{margin-top: 10px;}

.accept_btn_click button{background-color: transparent;
  color: #777;
  border: 1px solid #afafaf;
  border-radius: 9px;
  margin-top: 0 !important;
  margin: 9px 0;
  box-shadow: inherit !important;
  text-align: left;
  font-size: 14px;
  display: list-item;
  padding: 10px 14px;}

.b_cl_hg {
  border: 0;
  padding: 14px;
  padding-bottom: 0;
  height: auto;
}
.b_cl_hg li{height: auto;}
.b_cl_hg li h4{margin: 0;}

.cust_mskd_ew .mfp-close {
  color: #888 !important;
  border-left: 0 !important;
  border-radius: 0 4px 0 0 !important;
  top: 0 !important;
  right: 0 !important;
  width: 40px !important;
  height: 40px !important;
  background-color: transparent !important;
}
.btn_ag_t a{
  color: #fff !important;
  font-size: 16px !important;
  text-align: center;
}



.client_popup_cl{padding: 8px 16px;}
.header_secclient{}

.header_secclient h5{color: #353131;
  font-size: 18px;
  font-weight: 600 !important;}
.header_secclient table tr th{ border: 0;
  width: 27%;
  font-weight: 600;
  font-size: 17px;
  padding: 10px 5px; border-bottom: 1px solid #ebebeb; vertical-align: middle;}
.header_secclient table tr td{      border: 0;
  text-align: left;
  padding: 3px;
  padding: 10px 5px;
  border-bottom: 1px solid #ebebeb;}

.header_secclient table{border: 0;}

.primary_status_label{
  font-size: 11px;
  display: inline-block;
  padding: 6px;
  margin-left: 10px;
  background-color:var(--theme-color-1);
}

.rates_hdng_cl{       color: #353131;
  font-size: 19px;
  font-weight: 600 !important;
  margin: 18px 0px 15px !important;
  border-bottom: 1px solid #dbd5d5;
  padding-bottom: 11px;
}

.discription_agreed{    line-height: 20px;
  font-size: 14px;     padding-bottom: 50px;}

  .sub_heading_cl_n{    font-size: 14px;}


  .table_wraper_cl {
    height: 300px;
    overflow: auto;
}

div#view-agreement-popup {
  max-width: 640px;
}